{% extends 'base.html' %}
{% load static %}

{% block title %}
پایگارد | ورود
{% endblock title %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1 class="text-center mb-5 mt-5">ورود به وب‌سایت</h1>
    <div class="form-floating">
        <input class="form-control rounded-0" type="text" name="username" required id="id_username">
        <label for="id_username">نام کاربری</label>
    </div>

    <div class="form-floating">
        <input name="password" autocomplete="current-password" required id="id_password"
            class="form-control rounded-0 mt-2" type="password">
        <label for="id_password">رمز عبور</label>
    </div>
    <button class="btn btn-dark rounded-0 mb-5 mt-5" type="submit">ورود به سایت</button>
</form>
{% endblock content %}