<section class="wrapper">
  <div class="container-fostrap">
    <div class="content">
      <div class="container">
        <div class="row">
          {% for courses in course %}
          <div class="col-xs-12 col-sm-4 px-1">
            <div class="card">
              <img src="{{ courses.thumbnail.url }}" class="img-card" alt="{{ courses.title }}">
              <div class="card-content">
                <h4 class="card-title">
                  {{ courses.title }}
                </h4>
              </div>
              <div class="card-read-more">
                <a href="{% url 'course:detail_course' courses.id courses.slug %}" class="btn btn-link btn-block">
                  مشاهده
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>